* {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 0;
  text-align: center;
  color: 	#C1CDCD;
}

body {
  background-image: url('img/death-star.png');
}

h1, p {
  margin-bottom: 2em;
  margin-top: 1em;
}

.grid {
  margin: 1em auto;
  width: 606px;
  height: 606px;
  /*200px for each div plus border;*/
}

.grid div {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid #324654;
}

.grid .x,
.grid .o {
  background-size: 160px 160px;
  background-position: center;
  background-repeat: no-repeat;
}

.grid .x {
  background-image: url("img/x.png");
}

.grid .o {
  background-image: url("img/o.png");
}

.game-over {
  color: #324654;
  font-size: 2em;
  padding-top: 200px;
  margin-bottom: 1em;
}

.reload {
  display: block;
  font-size: 1.2em;
  color: #ff0000;
}
